### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

# Exclude Git-related files and directories
.git/
.gitignore

# Exclude temporary files and logs
*.log
*.tmp

# Exclude test files and directories
src/test/

# Exclude documentation and configuration files
docs/
config/

# Exclude build artifacts and compiled files
target/
build/
*.jar
*.war